<?xml version="1.0" encoding="utf-8"?>

<!-- See comments at AppSettings section of App.config to learn more about this file. -->
<appSettings>
  <add key="AzureServiceBus_NamespaceName" value="errortracker" />
  <add key="AzureServiceBus_SendKeyName" value="SendRule" />
  <add key="AzureServiceBus_SendToken" value="" />
  <add key="AzureServiceBus_ListenKeyName" value="ListenRule" />
  <add key="AzureServiceBus_ListenToken" value="" />
  <add key="AzureServiceBus_ManageKeyName" value="ManageRule" />
  <add key="AzureServiceBus_ManageToken" value="" />
  <add key="EventsQueue_Name" value="queues/tests/events" />
</appSettings>